/* box styling */
.flex {
    display: flex;
}

.flex-ac {
    display: flex;
    align-items: center;
}

.flex-ac-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

/* paddings ,margins and gaps*/

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.m-0 {
    margin: 0px;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.gap-20 {
    gap: 20px;
}

/* colors */

.bg-eee {
    background-color: #eee;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-green {
    background-color: var(--color-green);
}

.black {
    color: black;
}

.white {
    color: white;
}

.grey {
    color: var(--color-grey);
}

.blue {
    color: var(--color-blue);
}

.orange {
    color: var(--color-orange);
}

.green {
    color: var(--color-green);
}

.red {
    color: var(--color-red);
}

/* position */
.relative {
    position: relative;
}

/* text styling */
.txt-c {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-25 {
    font-size: 25px;
}

/* borders */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.b-none {
    border: none;
}

/* width and height */
.w-full {
    width: 100%;
}

.fit {
    width: fit-content;
}

/* responsive */
@media (max-width:767px) {
    .block-mobile {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }

    .txt-c-mobile {
        text-align: center;
    }
}

/* components */

.widget {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.btn {
    padding: 4px 10px;
    border-radius: 6px;
}