@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

:root {
    --color-blue: #0075ff;
    --color-alt-blue: #0d69d5;
    --color-orange: #f59e0b;
    --color-green: #22c55e;
    --color-red: #f44336;
    --color-grey: #888;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-alt-blue);
}

/* swup animation  */
.transition-fade {
    transition: 0.3s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateX(-50px);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(50px);
}

.loading {
    height: 5px;
    position: fixed;
    top: 67px;
    left: 0;
    background: var(--color-blue);
    width: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

/* .loading>span {
    display: block;
    aspect-ratio: 1;
    width: 8px;
    border-radius: 50%;
    background-color: var(--color-blue);
} */

html.is-changing .loading {
    transition: 0.3s;
    width: 100%;
}

/* 
html.is-changing .loading>span {
    animation: balls 2s infinite;
    animation-delay: calc(0.15s * var(--index) + 0.05s);
} */
/* 
@keyframes balls {

    0%,
    20% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 0
    }

    25% {
        opacity: 1
    }

    35% {
        transform: translateX(45vw);
        animation-timing-function: linear
    }

    65% {
        transform: translateX(60vw);
        animation-timing-function: ease-in
    }

    75% {
        opacity: 1
    }

    80%,
    100% {
        transform: translateX(100vw);
        opacity: 0
    }
} */

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 215px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
}

.sidebar>h3::before,
.sidebar>h3::after {
    content: '';
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar>h3::before {
    width: 110px;
    height: 2px;
    bottom: -20px;

}

.sidebar>h3::after {
    bottom: -28.5px;
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid white;
}

.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width:767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }

    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .sidebar>h3::before,
    .sidebar>h3::after {
        display: none;
    }
}

/* content */
.content {
    overflow: hidden;
    position: relative;
    left: 215px;
    width: calc(100% - 215px);
}

@media (max-width:767px) {
    .content {
        position: relative;
        left: 58px;
        width: calc(100% - 58px);
    }
}

.head {
    position: fixed;
    top: 0;
    left: 215px;
    z-index: 99;
    transition: 0.3s;
    width: calc(100% - 215px);
}

@media (max-width:767px) {
    .head {
        left: 58px;
        width: calc(100% - 58px);
    }
}

.head .search::before {
    content: '\f002';
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--color-grey);
}

#input-fc+.label-fc {
    position: absolute;
    top: calc(50% - 2px);
    left: 38px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
    opacity: 0.7;
    transition: 0.3s;
}

#input-fc+.label-fc.no-pad {
    left: 10px;
}

#input-fc:focus+.label-fc,
#input-fc+.label-fc.focused {
    scale: 0.9;
    opacity: 1;
    background-color: white;
    top: -1px;
    left: 22px;
    padding-inline: 6px;
}

#input-fc:focus+.label-fc.no-pad,
#input-fc+.label-fc.no-pad.focused {
    left: 10px;
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.head .search input:focus {
    width: 200px;
}


.head .icons .notification::before {
    content: '';
    position: absolute;
    width: 7px;
    aspect-ratio: 1;
    background-color: var(--color-red);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.head .icons img {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 15px;
}

.page h1 {
    margin: 87px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-inline: 20px;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(min(200px, 100%), 1fr);
        margin-inline: 10px;
    }
}

.wrapper>div {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit-button {
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 307.91px);
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--color-alt-blue);
}

@media (max-width:767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }

    .welcome .visit-button {
        height: auto;
    }
}

.quick-draft input[type="text"] {
    border: 1px solid #ccc;
}

.quick-draft textarea {
    border: 1px solid #ccc;
    resize: none;
    height: 180px;
}

.quick-draft textarea#input-fc+label.label-fc {
    top: 12px;
}

.quick-draft textarea#input-fc+label.label-fc.focused,
.quick-draft textarea#input-fc:focus+label.label-fc {
    top: 0px;
}

.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--color-alt-blue);
}

.targets .targets-row .icon {
    width: 80px;
    aspect-ratio: 1;
    margin-right: 15px;
}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: 0.3s;
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: 0;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 15px;
    transform: translateX(50%);
}

.targets .details .progress>span span::after {
    content: '';
    border: solid transparent 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.targets .details .progress>.blue span::after {
    border-top-color: var(--color-blue);
}

.blue .icon,
.blue .progress {
    background-color: rgba(0, 117, 255, 0.2);
}

.targets .details .progress>.orange span::after {
    border-top-color: var(--color-orange);
}

.orange .icon,
.orange .progress {
    background-color: rgba(245, 158, 11, 0.2);
}

.targets .details .progress>.green span::after {
    border-top-color: var(--color-green);
}

.green .icon,
.green .progress {
    background-color: rgba(34, 197, 94, 0.2);
}

.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}

.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.latest-news .news-row img {
    width: 100px;
    height: 56.9px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 15px;
}

.latest-news .info {
    flex-grow: 1;
}

.latest-news .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}

.label {
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    margin-left: 10px;
}

@media (max-width:767px) {
    .news-row {
        display: block;
    }

    .label {
        margin: 10px auto;
    }
}

.tasks .task-row {
    transition: 0.3s;
}

.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .info {
    flex-grow: 1;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
    transition: 0.3s;
}

.tasks .delete {
    cursor: pointer;
    transition: 0.3s;
}

.tasks .task-row:not(.done) .delete:hover {
    color: var(--color-red);
}